/*common start*/

body{
	margin: 0;
	font-family: "Playfair Display", serif;
	font-size: 14px;
	font-weight: 400;
	color: #626262;
}
/*common end*/
/*header start*/
header{
	padding: 30px 0;
	/*border-bottom: 1px solid red;*/
}
.container{
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.logo{margin-top: 15px;
	float: left;
	width: 10%;
	/*border: 1px solid red;*/
}
.logo a{}
.logo a img{
	width: 100%;
}
.menu{
	float: right;
	width: 65%;
	/*border: 1px solid red;*/
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	display: inline-block;
	margin: 0 45px;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: .33s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li:hover a{
	border-bottom: 1px solid #626262;

}

/*header end*/
/*banner start*/
.banner{}
.banner_img{}
.banner_img img{
	width: 100%;
}

/*banner end*/
/*getaway start*/
.getaway{
	padding: 100px 0 20px;
}
.container2{
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
	/*border: 1px solid red;*/
}
.g_content{}
.c_light{
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;

}
.c_title{
	margin: 15px 0 25px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	margin: 0;
	line-height: 24px;
}
.g_link{
	margin-top: 45px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
}
/*getaway end*/
/*blog start*/
.blog{
	padding: 0 0 100px;
}
.sb_item{
	margin-top: 80px;
	float: left;
	width: 47.3%;
	/*border: 1px solid red;*/
}
.sb_item:nth-child(even){
	margin-left: 5.4%;

}
.sb_img img{
	width: 100%;
  margin-bottom: 50px;
}
/*blog end*/

/*newsletter start*/
.newsletter{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 400px;
/*	border: 5px solid red;*/
	margin: 0 auto;
}
.s_form input{
	font-family: "Playfair Display", serif;
	font-size: 14;
	font-weight: 400;
	color: #626262;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 45px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}
/*newsletter end*/

/*blog2 start*/
.blog2{
	padding-top: 20px;
}
.load{
	padding: 100px 0 50px;
	text-align: center;
}
.load button{
	width: 160px;
	height: 60px;
	background-color: white;
	border: 2px solid #626262;
	font-family: "Playfair Display", serif;
	font-size: 20px;
	font-size: 400;
	color: #626262;
	cursor: pointer;
	transition: .33s linear;
}
.load button:hover{
	background-color: #626262;
	color: white;
}
/*blog2 end*/


/*footer start*/
footer{
	padding: 35px 0;
	background-color: #f0f0f0;
}
.page{
	float: left;
	width: 40%;
/*	border: 1px solid;*/
}
.page ul{

}
.page ul li{
	list-style: none;
	float: left;
}
.page ul li a{
	display: inline-block;
	margin: 0 10px;
  
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: .33s;

}
.page ul li:last-child a{
	margin-right: 0;
}
.page ul li:hover a{
	border-bottom: 1px solid #626262;
}

.social{
	float: right;
	width: 12%;
/*	border: 1px solid;*/
}
.social ul{}
.social ul li{
	list-style: none;
	float: left;
}
.social ul li span {
    padding-right: 10px;
    color: #000000;
    font-family: "Playfair Display", serif;
    font-weight: 400;
   
}
.social ul li a{
	display: inline-block;
	margin: 0 3px;
	color: #000000;
	text-decoration: none;
}


.social ul li a: hover{
}

/*footer end*/